Flask
python-dotenv
pandas
requests
langchain
openai
faiss-cpu
streamlit
numpy
matplotlib
plotly
seaborn
scikit-learn
urllib3
certifi
charset-normalizer
idna
six 
setuptools
wheel
pip
python-dateutil
pytz